<table class="periods">
  <thead>
    <tr>
      <td><%= t('portal.real_leave_span') %></td>
      <td><%= t('portal.real_leave_count') %></td>
      <td><%= t('portal.leave_count') %></td>
      <td></td>
    </tr>
  </thead>
  <tbody id="periords-list"></tbody>
</table>