html, body, table {
  font-family: 'trebuchet ms', sans-serif;
  font-size: 12px;
}

body {
  background: url('/images/back.png') 0 0 no-repeat #eaeaea;
  background-attachment: fixed;
}

div.wrp {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

a img {
  border: 0;
}

section.top-wrapper, section.content {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

div.tp_adsense {
  margin: 3px 0 0 30px;
}

section.content {
  background: url('/images/opacity80.png');
  width: 1050px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
}

section.top-wrapper {
  height: 90px;
  position: relative;
}

header#top h1 a {
  text-indent: -9999em;
  display: block;
  position: absolute;
  left: 0px;
  top: 30px;
}

header#top h2#year-holder {
  display: block;
  position: absolute;
  left: 260px;
  top: 35px;
  font-size: 27px;
}

header#top h1 a {
  background: transparent url('/images/logo.png') no-repeat 0px 0px;
  width: 248px;
  height: 45px;
}

section.top-menu {
  position: absolute;
  left: 450px;
  top: 30px;
}

nav#menu {
  height: 35px;
}

section.top-menu ul {
  list-style: none;
  display: block;
}

section.top-menu ul li {
  float: left;
  margin-right: 20px;
}

section.top-menu ul li a {
  text-decoration: none;
  display: block;
  font-size: 15px;
  padding: 10px;
  color: #eee;
  background-color: #333;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border: 2px solid transparent;
}

section.top-menu ul li a:hover {
  color: #fff;
  background-color: #111;
  border: 2px solid #fff;
}

table.calendar {
  width: 100%;
}

table.calendar thead td {
  font-weight: bold;
}

table.calendar tr.day-of-week-names td {
  font-size: 7px;
  padding-top: 5px;
}

table.calendar a.day {
  border: 1px solid #c3c3c3;
  background: url('/images/day_back.png') 0 0 no-repeat;
  width: 22px;
  height: 13px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 11px;
  display: block;
}

table.calendar a.saturday {
  background-image: url('/images/day_sunday.png');
}

table.calendar a.sunday {
  background-image: url('/images/day_sunday.png');
}

table.calendar td.month-name {
  width: 80px;
}

div.month-name-label {
  font-weight: bold;
}

table.calendar a.saturday, table.calendar a.sunday{
  background-color: #777;
}

table.calendar a.holiday {
  background-color: #bc2e2e;
  background-image: url('/images/day_holiday.png');
}

table.calendar a.period {
  background-color: yellow;
}

table.calendar a.leave {
  background-image: url('/images/day_free.png');
}

.clickable {
  cursor: pointer;
}

table.calendar td a {
  width: 25px;
}

div#account-info {
  float: right;
  background-color: #000;
  color: #fff;
  padding: 4px 8px 8px 8px;
  font-size: 11px;
}

div#account-info a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

div#account-info a:hover {
  color: #ccc;
  text-decoration: underline;
}

div#account-info a.link-underline {
  text-decoration: underline;
  color: yellow;
}

div#account-info a.link-underline:hover {
  text-decoration: none;
}

div.logged-info {
  margin-bottom: 2px;
}

div.internationalization-info {
  border-top: 1px solid #555;
  padding-top: 2px;
  text-align: right;
}

span#localizations {
  position: relative;
}

span.current-int-menu {
  background-color: #222;
}

span#locales, span#localizations {
  padding: 2px;
}

div#localizations-choose, div#locales-choose {
  display: none;
  padding: 5px;
  width: 100%;
  background-color: #222;
  float: right;
}

div#localizations-choose ul, div#locales-choose ul {
  list-style: none;
  text-align: right;
}


div#locales-choose ul li {
  float: right;
}

div#localizations-choose ul li{
  margin: 3px 3px 0 0;
}

div.info-bar {
  width: 900px;
  font-size: 12px;
}

span#save-info {
  float: right;
}

footer {
  width: 900px;
  border-top: 1px solid #c3c3c3;
  color: #444;
  margin-top: 15px;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer a {
  color: #222
}

#wysuwany_div { 
  width: 236px; 
  height: 382px; 
  background: url('/images/facebook_bg.jpg') no-repeat; 
  position: fixed; 
  top: 100px; 
  right: -209px;
} 

#ramka_facebooka { 
  margin: 7px 0 0 40px;
}

section.calendar-wrapper {
}

span.counts-wrapper {
  font-size: 14px;
}

span.count {
  font-weight: bold;
  font-size: 120%;
}

div.top_adsense {
  width: 730px; 
}

// custom pages

.page {}

.page p {
  margin-bottom: 10px;
}

header.page-title {}

header.page-title h1 {
  font-size: 2em;
  color: #333;
  margin: 0 0 20px 0;
}

header.page-title h3 {
  float: right;
}

section.page-content {
  padding: 10px;
}

article.error-page {
  height: 300px;
  background: url('/images/paper_ball.jpg') 0 0 no-repeat;
  padding-left: 300px;
}

article.error-page header.page-title {
  padding-top: 60px;
}

div.post-list {
  margin-bottom: 20px;
}

.post-published {
  color: #444;
  margin: 5px;
  font-size: 0.9em;
}

.post-list-title {
  margin: 0 0 0 50px;
  font-size: 1.5em;
}

.post-list-title a {
  color: #333;
}

.post-list-title a:hover {
  text-decoration: none;
  color: #000;
}

.flash {
  width: 1070px;
  -moz-border-radius: 15px;
  border-radius: 15px;  
  padding: 5px 0 5px 15px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: Tahoma, Arial, Verdana, Sans-serif;
}

#flash-notice {
  background: #42962f;
}

#flash-error {
  background: #c95757;
}

.flash-hide-button {
  float: right;
  font-weight: bold;
  color: #fff;
  margin-right: 10px;
}

.flash-hide-button a {
  color: #fff;
  text-decoration: none;
}

a.sooftly-link {
  display: block;
  width: 197px;
  height: 75px;
  background-image: url('/images/sooftly-logo-small.png');
  float: right;
  text-indent: -9999em;
}

ul.tabs {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
  height: 32px; /*--Set height of tabs--*/
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  width: 100%;
}

ul.tabs li {
  float: left;
  margin: 0;
  padding: 0;
  height: 31px; /*--Subtract 1px from the height of the unordered list--*/
  line-height: 31px; /*--Vertically aligns the text within the tab--*/
  border: 1px solid #999;
  border-left: none;
  margin-bottom: -1px; /*--Pull the list item down 1px--*/
  overflow: hidden;
  position: relative;
  background: #e0e0e0;
}
ul.tabs li a {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 1.2em;
  padding: 0 20px;
  border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
  outline: none;
}
ul.tabs li a:hover {
  background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
  background: #fff;
  border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container {
  border-top: 1px solid #999;
  border-top: none;
  overflow: hidden;
  clear: both;
  float: none; 
  width: 100%;
  background: #fff;
}

.tab_content {
  padding: 20px;
  font-size: 1.2em;
}

.holidays-list-month-container {
  margin: 5px;
}

ul.holidays-list {
  list-style: none;
  margin: 10px 0 0 30px;
}

ul.holidays-list li {
  margin: 2px 0 2px 10px;
  color: #555;
}

ul.holidays-list span.holidays-list-date {
  color: #000;
  margin: 0 10px 0 0;
}

div.holidays-list-month-name {
  color: #fff;
  font-size: 25px;
  font-family: Georgia;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
}

td.holidays-list-month {
  background-color: #b6d18e;
  padding: 4px 0 0 4px;
}
