<nav id="menu">
  <ul>
    <li><a href="/about"><%=t 'portal.menu.about' %></a></li>
    <li><a href="/posts"><%=t 'portal.menu.news' %></a></li>
    <li><a href="/contact"><%=t 'portal.menu.contact' %></a></li>
  </ul>
</nav>
