<% content_for :title do %>
  HolidayPlanner - <%=t 'portal.menu.news' %>
<% end %>


<section class="page">
  
  <header class="page-title">
    <hgroup>
      <h1><%=t 'portal.menu.news' %></h1>
    </hgroup>
  </header>
  
  <section class="posts">
    <% cache "#{I18n.locale}/post_list", :expires_in => 6.hours do %>
      <%= render :partial => "post_list", :collection => @posts, :as => :post %>
    <% end %>
  </section>

</section>
